<style type="text/css">
#logo h1 {
    color: #FFFFFF;
    font-weight: 600;
    margin: 0;
    font-size: 3rem;
}
#chapter p {
    text-align: left;
}
code {
    white-space: pre-wrap;
}
#body-inner pre {
    white-space: pre;
}
#sidebar ul.topics ul {
    display: inherit;
    padding-bottom: 1rem;
    background-color: #251F29;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
dl {
    margin: 3em;
}
dt, dd {
    display: inline;
}
dt {
    font-weight: bold;
    margin-left: -3em;
}
dt:after {
    content: ":";
    margin-right: 0.5em;
}
dd {
    -webkit-margin-start: 0;
    -moz-margin-start: 0;
}
dd:after {
    display: block; content: "";
}
</style>
